<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd">

        <!-- 分片时使用 -->
        <!--<mongo:mongo-client id="mongo" replica-set="localhost:20001,localhost:20002,localhost:20003"/>-->

        <mongo:mongo-client id="mongo" host="localhost" port="27017"/>

        <mongo:db-factory id="dbFactory" dbname="vr" mongo-ref="mongo"/>

        <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
                <constructor-arg name="mongoDbFactory" ref="dbFactory"/>
        </bean>

        <context:component-scan base-package="dao,service"/>

</beans>